{% comment %}
/////////////////////////////////////////// pegar esto en tu nueva seccion //////////////////////////////////////////////////////////////////////////

Del video https://www.youtube.com/watch?v=Zi77ENgHyT0 
{% endcomment %}

<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<style>
    .apolo_slide:hover{opacity:.7}
  .desktop{display:block}
  .movil{display:none}

  @media only screen and (max-width: 700px) and (min-width: 1px) {
  .desktop{display:none}
  .movil{display:block}
  .button_collection_apolo{
      padding: 2% !important;
    }
  .banner__heading {
      font-size: 3vh !important;
    }
  .banner__heading {
      font-size: 3vh !important;
    }
  }

  .apolo:hover{opacity:.7;}
  .card__inner {
    filter: brightness(95%);
  }

  .button_collection_apolo{
      background: white;
      flex: 0 0 auto;
      cursor: pointer;
      margin-right: 15px;
      font-weight: 600;
      color: black;
      border-radius: 5px;
      padding: 10px 20px;
   text-transform:uppercase;    margin: 6px;
      font-size: 0.7em;border: 1px solid black;display: inline-table;
  }

  .button_collection_apolo.active{
      background: #e7da0a;
      color: black;
  }

  .multicolumn-card__info p{font-size:0.7em}

  .slide img{box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.1);
      border: 1.5px solid #F6F6F6;
      filter: drop-shadow(0 0 5px #eee);}

   @media only screen and (max-width: 700px) and (min-width: 1px) {
     .slick-slide img {
      width: 100px !important;
      height: 100px !important;
     }
  }
     .swiper-button-prev,.swiper-button-next{display:block !important}
    .apolo_card:hover{
      transform: scale(1.01);}
    .text_title{text-align:center;}
      slide {
        margin: 0px 10px;
    }
  .apolo_card{
    margin-bottom:15px;
    text-decoration: none;
    text-transform: uppercase;
  }
  .slide img {
      width: 160px;
      height: 160px;
      margin: 0px auto;
      object-fit: cover;
  }

  .slide{text-align:center;}

   .swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {

      bottom: var(--swiper-scrollbar-bottom, 0px) !important;
      height: var(--swiper-scrollbar-size, 8px) !important;

  }
    .swiper-button-next:after, .swiper-button-prev:after {
      font-size: 14px !important;
      padding: 10px 12px !important;
      color: white !important;
      background: black !important;
      font-weight: 700 !important;
  }
    .swiper-button-next{
      right: 5px !important;

  }
    .swiper-button-prev{
      left:  3px !important;

  }
  .swiper-scrollbar-drag{display:block !important}
  .swiper-horizontal{overflow: hidden;}
  .categories{margin-bottom:20px;}
    .container{width:85%;margin:0px auto}
</style>
<div class="container section-{{ section.id }}-padding">
  <div class="swiper mySwiper mySwiper-{{ section.id }}">
    <div class="customer-logos slider swiper-wrapper">
      {%- for block in section.blocks -%}
        {% assign collection_item = block.settings.collection %}

        {%- if collection_item.image -%}
          {%- assign collection_image = collection_item.image -%}
        {%- elsif collection_item.products.first and collection_item.products.first.images != empty -%}
          {%- assign collection_image = collection_item.products.first.featured_image -%}
        {%- else -%}
          {%- assign collection_image = blank -%}
        {%- endif -%}
        <a class="apolo_card swiper-slide" href="{{ collection_item.url  }}">
          <div class="slide"><img class="image_slide" src="{{ collection_image | img_url: '480x' }}"></div>
          <h5 class="text_title ">{{ collection_item.title }}</h5>
        </a>
      {% endfor %}
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
   
  </div>
</div>

<script>
  var swiper = new Swiper(".mySwiper-{{ section.id }}", {
            grabCursor: true,
            speed: 400,
            loop: true,
            mousewheel: {
              invert: true,
            },
           spaceBetween: 10,
           breakpoints: {
            1400: {
              slidesPerView: {{section.settings.desktop}} },

            1024: {
              slidesPerView: {{section.settings.laptop}} },

            650: {
              slidesPerView: {{section.settings.movil}} } },
          navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
          },
      });
</script>

{% schema %}
{
  "name": "Coleccion Dinamica",
  "tag": "section",
  "max_blocks": 15,
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
     {
      "type": "number",
      "id": "desktop",
      "label": "Imagen Escritorio",
       "default": 5
    },   
    {
      "type": "number",
      "id": "laptop",
      "label": "Imagen Laptop",
       "default":3
    }, 
    {
      "type": "number",
      "id": "movil",
      "label": "Imagen Movil",
       "default": 1
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "featured_collection",
      "name": "Coleccion",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Coleccion"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Coleccion Dinamica"
    }
  ]
}
{% endschema %}